@awesome.me:registry=https://npm.fontawesome.com/
@fortawesome:registry=https://npm.fontawesome.com/
//npm.fontawesome.com/:_authToken=FDAB6162-DD95-4882-8D98-61187051A9F3
legacy-peer-deps=true
strict-peer-dependencies=false
auto-install-peers=true
resolution-mode=highest
node-linker=hoisted
