openapi: 3.0.0

https://stoplight.io/api/v1/projects/insightiq/api-reference/nodes/reference/openapi.v1.yml?fromExportButton=true

https://docs.insightiq.ai/docs/api-reference/introduction/introduction

info:
  title: API References
  description: |-
    The InsightIQ API is built on RESTful principles. It returns JSON encoded responses and accepts JSON payloads on HTTPS connections to ensure secure data transmission. The APIs must be called only from your server and never from your app or frontend to prevent security vulnerabilities.

    The API operates in three environments: `sandbox`, `staging` and `production`.

    - The `sandbox` environment returns mock data and is used for testing the basic functionality of the system.

    - The `staging` environment is exactly like a production environment but with certain limitations. It is used for your internal testing and development purposes.

    - The `production` environment connects to real platform accounts and all data reads and writes are made to live accounts. This is what you would use to get data for your customers.
  contact:
    name: InsightIQ
    url: 'https://insightiq.ai'
    email: support@insightiq.ai
  version: v1.0
servers:
  - url: 'https://api.sandbox.insightiq.ai'
    description: Sandbox
  - url: 'https://api.staging.insightiq.ai'
    description: Staging
  - description: Production
    url: 'https://api.insightiq.ai'
tags:
  - name: Authentication
    description: ' '
  - name: Connect
    description: ' '
  - name: Identity
    description: ' '
  - name: Engagement
    description: ' '
  - name: Income
    description: ' '
  - name: Activity
    description: ' '
  - name: Creator Discovery
    description: ' '
  - name: Professional Creator Discovery
    description: ' '
  - name: Public Content
    description: ' '
  - name: Insights
    description: ' '
  - name: Safety
    description: ' '
  - name: Social Listening
    description: ' '
  - name: Publish
    description: ' '
  - name: Switch
    description: ' '
  - name: Webhook
    description: ' '
paths:
  '/v1/work-platforms/{id}':
    get:
      summary: Retrieve a work platform
      description: Retrieve the details of a specific Work Platform by its unique identifier.
      operationId: v1ConnectGetWorkPlatformsById
      responses:
        '200':
          description: Returns the Work Platform object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkPlatform'
              examples:
                Instagram:
                  value:
                    id: 9bb8913b-ddd9-430b-a66a-d74d846e6c66
                    name: Instagram
                    logo_url: 'https://cdn.insightiq.ai/platforms_logo/logos/logo_instagram.png'
                    created_at: '2021-11-08T18:21:59.819244'
                    updated_at: '2021-11-08T18:21:59.819244'
                    category: SOCIAL
                    status: ACTIVE
                    url: 'https://www.instagram.com/'
                    products:
                      identity:
                        is_supported: true
                        audience:
                          is_supported: true
                      engagement:
                        is_supported: true
                        audience:
                          is_supported: true
                      income:
                        is_supported: false
                      activity:
                        is_supported: false
                      publish:
                        is_supported: false
                      switch:
                        is_supported: false
                YouTube:
                  value:
                    id: 14d9ddf5-51c6-415e-bde6-f8ed36ad7054
                    name: YouTube
                    logo_url: 'https://cdn.insightiq.ai/platforms_logo/logos/logo_youtube.png'
                    created_at: '2021-11-08T18:21:59.819244'
                    updated_at: '2021-11-08T18:21:59.819244'
                    category: ENTERTAINMENT
                    status: ACTIVE
                    url: 'https://www.youtube.com/'
                    products:
                      identity:
                        is_supported: true
                        audience:
                          is_supported: true
                      engagement:
                        is_supported: true
                        audience:
                          is_supported: true
                      income:
                        is_supported: true
                      switch:
                        is_supported: false
                      activity:
                        is_supported: false
                      publish:
                        is_supported: false
                Twitter:
                  value:
                    id: 7645460a-96e0-4192-a3ce-a1fc30641f72
                    name: Twitter
                    logo_url: 'https://cdn.insightiq.ai/platforms_logo/logos/logo_twitter.png'
                    created_at: '2021-11-08T18:21:59.819244'
                    updated_at: '2021-11-08T18:21:59.819244'
                    category: SOCIAL
                    status: ACTIVE
                    url: 'https://twitter.com'
                    products:
                      identity:
                        is_supported: true
                        audience:
                          is_supported: false
                      engagement:
                        is_supported: true
                        audience:
                          is_supported: false
                      income:
                        is_supported: false
                      switch:
                        is_supported: false
                      activity:
                        is_supported: false
                      publish:
                        is_supported: false
                Facebook:
                  value:
                    id: ad2fec62-2987-40a0-89fb-23485972598c
                    name: Facebook
                    logo_url: 'https://cdn.insightiq.ai/platforms_logo/logos/logo_facebook.png'
                    created_at: '2021-11-08T18:21:59.819244'
                    updated_at: '2021-11-08T18:21:59.819244'
                    category: SOCIAL
                    status: ACTIVE
                    url: 'https://www.facebook.com'
                    products:
                      identity:
                        is_supported: true
                        audience:
                          is_supported: false
                      engagement:
                        is_supported: true
                        audience:
                          is_supported: false
                      income:
                        is_supported: false
                      switch:
                        is_supported: false
                      activity:
                        is_supported: false
                      publish:
                        is_supported: false
          headers:
            request-id:
              $ref: '#/components/headers/request_id'
      tags:
        - Connect
    parameters:
      - schema:
          example: 179a0bb4-c572-4477-9457-7dacf1b84848
          format: uuid
          type: string
        name: id
        in: path
        description: Unique identifier for the work platform.
        required: true
  /v1/work-platforms:
    get:
      summary: Retrieve all work platforms
      description: Lists all Work Platforms.
      operationId: v1ConnectGetWorkPlatforms
      parameters:
        - $ref: '#/components/parameters/name'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/offset'
      responses:
        '200':
          description: Returns all Work Platforms objects.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkPlatformList'
              examples:
                Example:
                  value:
                    data:
                      - id: 3f996edf-fec1-4be7-bb53-f9b649f41058
                        name: Discord
                        logo_url: 'https://cdn.insightiq.ai/platforms_logo/logos/logo_discord.png'
                        created_at: '2022-03-04T10:06:41.871329'
                        updated_at: '2022-03-04T10:06:41.871329'
                        category: ENTERTAINMENT
                        status: ACTIVE
                        url: 'https://discord.com/'
                        products:
                          identity:
                            is_supported: true
                            audience:
                              is_supported: false
                          engagement:
                            is_supported: true
                            audience:
                              is_supported: false
                          income:
                            is_supported: false
                          switch:
                            is_supported: false
                          activity:
                            is_supported: false
                          publish:
                            is_supported: false
                      - id: 9c5b1cf1-23f1-4d40-b0ea-40f9bf615801
                        name: Pinterest
                        logo_url: 'https://cdn.insightiq.ai/platforms_logo/logos/logo_pinterest.png'
                        created_at: '2021-11-08T18:21:59.819244'
                        updated_at: '2021-11-08T18:21:59.819244'
                        category: LIFESTYLE
                        status: ACTIVE
                        url: 'https://www.pinterest.com'
                        products:
                          identity:
                            is_supported: true
                            audience:
                              is_supported: false
                          engagement:
                            is_supported: true
                            audience:
                              is_supported: false
                          income:
                            is_supported: false
                          switch:
                            is_supported: false
                          activity:
                            is_supported: false
                          publish:
                            is_supported: false
                      - id: fbf76083-710b-439a-8b8c-956f607ef2c1
                        name: Substack
                        logo_url: 'https://cdn.insightiq.ai/platforms_logo/logos/logo_substack.png'
                        created_at: '2022-03-04T10:06:41.871329'
                        updated_at: '2022-03-04T10:06:41.871329'
                        category: SOCIAL
                        status: ACTIVE
                        url: 'https://substack.com/'
                        products:
                          identity:
                            is_supported: true
                            audience:
                              is_supported: false
                          engagement:
                            is_supported: true
                            audience:
                              is_supported: false
                          income:
                            is_supported: false
                          switch:
                            is_supported: false
                          activity:
                            is_supported: false
                          publish:
                            is_supported: false
                      - id: 9bb8913b-ddd9-430b-a66a-d74d846e6c66
                        name: Instagram
                        logo_url: 'https://cdn.insightiq.ai/platforms_logo/logos/logo_instagram.png'
                        created_at: '2021-11-08T18:21:59.819244'
                        updated_at: '2021-11-08T18:21:59.819244'
                        category: SOCIAL
                        status: ACTIVE
                        url: 'https://www.instagram.com/'
                        products:
                          identity:
                            is_supported: true
                            audience:
                              is_supported: true
                          engagement:
                            is_supported: true
                            audience:
                              is_supported: true
                          income:
                            is_supported: false
                          switch:
                            is_supported: false
                          activity:
                            is_supported: false
                          publish:
                            is_supported: false
                      - id: ad2fec62-2987-40a0-89fb-23485972598c
                        name: Facebook
                        logo_url: 'https://cdn.insightiq.ai/platforms_logo/logos/logo_facebook.png'
                        created_at: '2021-11-08T18:21:59.819244'
                        updated_at: '2021-11-08T18:21:59.819244'
                        category: SOCIAL
                        status: ACTIVE
                        url: 'https://www.facebook.com'
                        products:
                          identity:
                            is_supported: true
                            audience:
                              is_supported: false
                          engagement:
                            is_supported: true
                            audience:
                              is_supported: false
                          income:
                            is_supported: false
                          switch:
                            is_supported: false
                          activity:
                            is_supported: false
                          publish:
                            is_supported: false
                      - id: de55aeec-0dc8-4119-bf90-16b3d1f0c987
                        name: TikTok
                        logo_url: 'https://cdn.insightiq.ai/platforms_logo/logos/logo_tiktok.png'
                        created_at: '2021-11-08T18:21:59.819244'
                        updated_at: '2021-11-08T18:21:59.819244'
                        category: SOCIAL
                        status: ACTIVE
                        url: 'https://www.tiktok.com'
                        products:
                          identity:
                            is_supported: true
                            audience:
                              is_supported: false
                          engagement:
                            is_supported: true
                            audience:
                              is_supported: false
                          income:
                            is_supported: false
                          switch:
                            is_supported: false
                          activity:
                            is_supported: false
                          publish:
                            is_supported: false
                      - id: e4de6c01-5b78-4fc0-a651-24f44134457b
                        name: Twitch
                        logo_url: 'https://cdn.insightiq.ai/platforms_logo/logos/logo_twitch.png'
                        created_at: '2021-11-08T18:21:59.819244'
                        updated_at: '2021-11-08T18:21:59.819244'
                        category: ENTERTAINMENT
                        status: ACTIVE
                        url: 'https://www.twitch.tv'
                        products:
                          identity:
                            is_supported: true
                            audience:
                              is_supported: false
                          engagement:
                            is_supported: true
                            audience:
                              is_supported: false
                          income:
                            is_supported: false
                          switch:
                            is_supported: false
                          activity:
                            is_supported: false
                          publish:
                            is_supported: false
                      - id: 7645460a-96e0-4192-a3ce-a1fc30641f72
                        name: Twitter
                        logo_url: 'https://cdn.insightiq.ai/platforms_logo/logos/logo_twitter.png'
                        created_at: '2021-11-08T18:21:59.819244'
                        updated_at: '2021-11-08T18:21:59.819244'
                        category: SOCIAL
                        status: ACTIVE
                        url: 'https://twitter.com'
                        products:
                          identity:
                            is_supported: true
                            audience:
                              is_supported: false
                          engagement:
                            is_supported: true
                            audience:
                              is_supported: false
                          income:
                            is_supported: false
                          switch:
                            is_supported: false
                          activity:
                            is_supported: false
                          publish:
                            is_supported: false
                      - id: 14d9ddf5-51c6-415e-bde6-f8ed36ad7054
                        name: YouTube
                        logo_url: 'https://cdn.insightiq.ai/platforms_logo/logos/logo_youtube.png'
                        created_at: '2021-11-08T18:21:59.819244'
                        updated_at: '2021-11-08T18:21:59.819244'
                        category: ENTERTAINMENT
                        status: ACTIVE
                        url: 'https://www.youtube.com/'
                        products:
                          identity:
                            is_supported: true
                            audience:
                              is_supported: true
                          engagement:
                            is_supported: true
                            audience:
                              is_supported: true
                          income:
                            is_supported: true
                          switch:
                            is_supported: false
                          activity:
                            is_supported: false
                          publish:
                            is_supported: false
                    metadata:
                      offset: 0
                      limit: 10
                      from_date: null
                      to_date: null
          headers:
            request-id:
              $ref: '#/components/headers/request_id'
      tags:
        - Connect
    parameters: []
  '/v1/users/{id}':
    get:
      summary: Retrieve a user
      description: Retrieve the information of the User with the supplied User id.
      operationId: v1ConnectGetUsersById
      parameters:
        - name: id
          in: path
          description: Unique identifier for the user.
          required: true
          style: simple
          explode: false
          schema:
            type: string
      responses:
        '200':
          description: Returns the User object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserResponse'
              examples:
                Mark Ruffalo:
                  value:
                    name: Mark Ruffalo
                    external_id: 154813a5-d26e-42f2-8b1d-ebbed59b062d
                    id: b0562ead-6282-404f-9e63-9da7bc0f838f
                    created_at: '2021-12-13T07:54:41.078254'
                    updated_at: '2021-12-13T07:54:41.078254'
                    status: ACTIVE
          headers:
            request-id:
              $ref: '#/components/headers/request_id'
      tags:
        - Connect
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
        description: Unique identifier for the user.
  /v1/users:
    get:
      summary: Retrieve all users
      description: Lists all Users.
      operationId: v1ConnectGetUsers
      parameters:
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/offset'
      responses:
        '200':
          description: An object with a results property that contains an array of up to limit user objects.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserResponseList'
              examples:
                Example:
                  value:
                    data:
                      - name: Arvind
                        external_id: c8b24285-e576-4c7a-9196-26c0c401afe83
                        id: 779acd71-23f7-4006-9db2-e9642038c3a7
                        created_at: '2022-03-29T16:16:39.482688'
                        updated_at: '2022-03-29T16:16:39.482688'
                        status: ACTIVE
                      - name: test01
                        external_id: c8b24285-e576-4c7a-9196-26c0c401afe445
                        id: ac9e92f4-1f26-4688-94b5-478f429126c4
                        created_at: '2022-03-29T16:01:47.473103'
                        updated_at: '2022-03-29T16:01:47.473103'
                        status: ACTIVE
                      - name: Arvind
                        external_id: c8b24285-e576-4c7a-9196-26c0c401afe82
                        id: 6cb1e144-b709-4e36-8878-fe66c8125c60
                        created_at: '2022-03-29T16:01:10.507657'
                        updated_at: '2022-03-29T16:01:10.507657'
                        status: ACTIVE
                      - name: Peter Parker
                        external_id: c8b24285-e576-4c7a-9196-26c0c401afe81
                        id: 9546b4fe-cef7-48c4-ab9f-960dd0080728
                        created_at: '2022-03-17T05:47:39.199440'
                        updated_at: '2022-03-17T05:47:39.199440'
                        status: ACTIVE
                      - name: LedAU1GL
                        external_id: YET4z78Goe0fPnY7guGF
                        id: a162c7e0-bc81-4142-8945-3d6a715d0f51
                        created_at: '2022-01-06T08:34:39.926237'
                        updated_at: '2022-01-06T08:34:39.926237'
                        status: ACTIVE
                      - name: 5zS70mBZ
                        external_id: B35UtSEwH06X4G7Oj904
                        id: 9c03319a-ddde-443c-8439-b8f380e9a365
                        created_at: '2022-01-03T10:07:54.077177'
                        updated_at: '2022-01-03T10:07:54.077177'
                        status: ACTIVE
                      - name: GQe38pJo
                        external_id: 3K64ZAT9WGl6T6SJl0Gm
                        id: b4660c4f-5b6d-4ddd-b0ed-832af3a3e153
                        created_at: '2022-01-03T10:07:32.805577'
                        updated_at: '2022-01-03T10:07:32.805577'
                        status: ACTIVE
                      - name: y0hHz1uG
                        external_id: puxaa648u5Fy7VPikXnr
                        id: 4e16b577-c019-4538-ba25-4ef45b38b141
                        created_at: '2022-01-03T10:01:17.679508'
                        updated_at: '2022-01-03T10:01:17.679508'
                        status: ACTIVE
                      - name: DigiQT
                        external_id: '1640699990331'
                        id: b1eacf57-f6b9-478c-a352-fe94974f8691
                        created_at: '2021-12-28T13:59:50.611550'
                        updated_at: '2021-12-28T13:59:50.611550'
                        status: ACTIVE
                      - name: DigiQT
                        external_id: '1640699946482'
                        id: e85f084d-64c7-4271-9b42-ecef8e397b99
                        created_at: '2021-12-28T13:59:07.821132'
                        updated_at: '2021-12-28T13:59:07.821132'
                        status: ACTIVE
                      - name: h51u3qsm
                        external_id: qLSq6eTyfSJvkZ4GD5Rk
                        id: b20ac291-2a1b-49bc-b27a-fdc2d0e789d4
                        created_at: '2021-12-14T05:48:13.354451'
                        updated_at: '2021-12-14T05:48:13.354451'
                        status: ACTIVE
                      - name: 4hbknpdk
                        external_id: AMqGf3gftYw5LIZsLMY7
                        id: 7d28634e-bcc3-4616-b980-9b9c5a73d519
                        created_at: '2021-12-14T05:46:00.780360'
                        updated_at: '2021-12-14T05:46:00.780360'
                        status: ACTIVE
                      - name: 6Mwkkfo0
                        external_id: F23wSDSgoMTdRQrFndH5
                        id: df2c6435-6eb3-471a-a1fa-6bb1b21e9e0b
                        created_at: '2021-12-14T05:45:44.419308'
                        updated_at: '2021-12-14T05:45:44.419308'
                        status: ACTIVE
                      - name: faDzxZG2
                        external_id: kJ7LkWlvX4FjqOXwe0L7
                        id: a066e220-d99c-4737-a763-888271faeb99
                        created_at: '2021-12-14T05:45:37.711996'
                        updated_at: '2021-12-14T05:45:37.711996'
                        status: ACTIVE
                      - name: Kgga4vQX
                        external_id: nZl1fhjUKcvnZ0zjxRyY
                        id: 63ea679d-b421-4de6-91db-94ea4bd78816
                        created_at: '2021-12-14T05:43:07.287532'
                        updated_at: '2021-12-14T05:43:07.287532'
                        status: ACTIVE
                      - name: LztHEgLI
                        external_id: uHuW9HCUKg1YH56u3PjP
                        id: 4532e289-6301-4cdf-af6b-aef83ab01315
                        created_at: '2021-12-13T14:14:49.663789'
                        updated_at: '2021-12-13T14:14:49.663789'
                        status: ACTIVE
                      - name: Chad Becker
                        external_id: aaf8a927-d478-4e98-8ade-6ca5ff244877
                        id: c931d928-c17d-49ee-89d0-ab18a825bd9b
                        created_at: '2021-12-13T07:54:41.078254'
                        updated_at: '2021-12-13T07:54:41.078254'
                        status: ACTIVE
                      - name: Simu Liu
                        external_id: 2cf983a9-9db2-4b35-b3f5-2908be48cfd4
                        id: dbada397-ed37-48e5-98bf-018808a186d9
                        created_at: '2021-12-13T07:54:41.078254'
                        updated_at: '2021-12-13T07:54:41.078254'
                        status: ACTIVE
                      - name: Justin Gatlin
                        external_id: 488a0a12-3bd4-4e40-b6e2-0dbf4895e6af
                        id: bc200267-631f-42e2-b0d9-aae786ff85de
                        created_at: '2021-12-13T07:54:41.078254'
                        updated_at: '2021-12-13T07:54:41.078254'
                        status: ACTIVE
                      - name: Lisa Kudrow
                        external_id: 4a39a4af-fa93-4c80-a1f7-b0f73df70f4e
                        id: c21c3a73-ade9-435b-8033-53d3e0549366
                        created_at: '2021-12-13T07:54:41.078254'
                        updated_at: '2021-12-13T07:54:41.078254'
                        status: ACTIVE
                      - name: Jerry Seinfeld
                        external_id: 82a356fc-574f-4065-91e8-b35e8717f596
                        id: c9342ccd-14ec-4fb1-b6c1-8dfc5df7c518
                        created_at: '2021-12-13T07:54:41.078254'
                        updated_at: '2021-12-13T07:54:41.078254'
                        status: ACTIVE
                      - name: Sam Curran
                        external_id: 519f061f-30df-4d25-872d-e8732023d017
                        id: 79be6897-e0f4-43d2-8df3-4af15b2862f0
                        created_at: '2021-12-13T07:54:41.078254'
                        updated_at: '2021-12-13T07:54:41.078254'
                        status: ACTIVE
                      - name: Jonah Hill
                        external_id: 1c82c935-edb2-4419-96b6-2ca6be72c207
                        id: 3b38559b-892f-475d-b4df-7248ef1fd405
                        created_at: '2021-12-13T07:54:41.078254'
                        updated_at: '2021-12-13T07:54:41.078254'
                        status: ACTIVE
                      - name: Mark Ruffalo
                        external_id: 154813a5-d26e-42f2-8b1d-ebbed59b062d
                        id: b0562ead-6282-404f-9e63-9da7bc0f838f
                        created_at: '2021-12-13T07:54:41.078254'
                        updated_at: '2021-12-13T07:54:41.078254'
                        status: ACTIVE
                      - name: Robert Downey
                        external_id: 370a5ab7-42b6-4871-95fb-ee7a17c91dc8
                        id: 28722faa-5356-483d-a57b-384fa01859dd
                        created_at: '2021-12-13T07:54:41.078254'
                        updated_at: '2021-12-13T07:54:41.078254'
                        status: ACTIVE
                      - name: Peter Parker
                        external_id: 5a3ab477-1be8-4b37-9e61-a51174c40d09
                        id: 8ba1ac32-0f3c-4cf0-8d89-79a183258f6a
                        created_at: '2021-12-13T07:54:41.078254'
                        updated_at: '2021-12-13T07:54:41.078254'
                        status: ACTIVE
                      - name: Chris Evans
                        external_id: 2fbada02-9da0-41e7-b1e5-042ee71874e4
                        id: ac0d5da5-f8c1-4139-8945-825986da9c1e
                        created_at: '2021-12-13T07:54:41.078254'
                        updated_at: '2021-12-13T07:54:41.078254'
                        status: ACTIVE
                      - name: Julia Luis
                        external_id: bae59952-7e03-47bd-9561-5c4d5453bdd9
                        id: 4d913581-99f2-41a8-9309-9b008511c211
                        created_at: '2021-12-13T07:54:41.078254'
                        updated_at: '2021-12-13T07:54:41.078254'
                        status: ACTIVE
                    metadata:
                      offset: 0
                      limit: 100
                      from_date: null
                      to_date: null
          headers:
            request-id:
              $ref: '#/components/headers/request_id'
      tags:
        - Connect
    parameters: []
    post:
      summary: Create a user
      operationId: v1ConnectPostUsers
      responses:
        '201':
          description: Returns created user object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserResponse'
              examples:
                John Doe:
                  value:
                    name: John Doe
                    external_id: 179a0bb4-c572-4477-9457-7dacf1b84848
                    id: 0099ba73-0571-4741-8fc3-ec0d32f47b51
                    created_at: '2022-03-29T17:29:37.974235'
                    updated_at: '2022-03-29T17:29:37.974235'
                    status: ACTIVE
          headers:
            request-id:
              $ref: '#/components/headers/request_id'
      description: Create a User.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserRequest'
            examples:
              Example:
                value:
                  name: John Doe
                  external_id: 179a0bb4-c572-4477-9457-7dacf1b84848
      tags:
        - Connect
  '/v1/users/external_id/{external_id}':
    parameters:
      - schema:
          type: string
        name: external_id
        in: path
        required: true
        description: Unique ID for the user supplied by you
    get:
      summary: Retrieve a user by external ID
      tags:
        - Connect
      responses:
        '200':
          description: Returns the User object.
          headers:
            request-id:
              $ref: '#/components/headers/request_id'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserResponse'
              examples:
                Mark Ruffalo:
                  value:
                    name: Mark Ruffalo
                    external_id: 154813a5-d26e-42f2-8b1d-ebbed59b062d
                    id: b0562ead-6282-404f-9e63-9da7bc0f838f
                    created_at: '2021-12-13T07:54:41.078254'
                    updated_at: '2021-12-13T07:54:41.078254'
                    status: ACTIVE
      operationId: v1ConnectGetUsersByExternalId
      description: Retrieve the information of the User with the supplied External id.
  /v1/sdk-tokens:
    post:
      summary: Create an SDK token
      operationId: v1ConnectPostSdkTokens
      responses:
        '201':
          description: Returns the SDK Token Response object.
          headers:
            request-id:
              $ref: '#/components/headers/request_id'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SDKTokenResponse'
              examples:
                Example:
                  value:
                    sdk_token: eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJ1c2VyX2lkIjoiOTU0NmI0ZmUtY2VmNy00OGM0LWFiOWYtOTYwZGQwMDgwNzI4IiwidGVuYW50X2lkIjoiMjg1Yjc1Y2EtMjE5MS00ZWEyLWJkMzQtNDdjZGI4NDEzNmVkIiwidGVuYW50X2FwcF9pZCI6IjljOGY0ZTUyLWE4MmQtNGQ0Ny05MmQzLTdmNGQ4MGM4NWZkNiIsInByb2R1Y3RzIjpbIklOQ09NRSIsIkVOR0FHRU1FTlQiLCJFTkdBR0VNRU5UX0FVRElFTkNFIiwiSURFTlRJVFkiXSwiaXNzIjoiaHR0cHM6Ly9hcGkuc2FuZGJveC5nZXRwaHlsbG8uY29tIiwiYXVkIjoiaHR0cHM6Ly9hcGkuc2FuZGJveC5nZXRwaHlsbG8uY29tL3YxL2ludGVybmFsIiwiaWF0IjoxNjQ4NTc1NDQ3LjUyNTAxMywiZXhwIjoxNjQ5MTgwMjQ3LjUyNTAwMn0.0fvAvCTpD1mKukAPq5r2nktLaQuxYWK7vVz2-xNkawc
                    expires_at: '2022-04-05T17:37:27.525002'
      description: Creates the Connect SDK Token. This is required while initializing the Connect SDK.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SDKTokenRequest'
            examples:
              Example:
                value:
                  user_id: 9546b4fe-cef7-48c4-ab9f-960dd0080728
                  products:
                    - IDENTITY
                    - IDENTITY.AUDIENCE
                    - ENGAGEMENT
                    - ENGAGEMENT.AUDIENCE
                    - INCOME
                    - PUBLISH.CONTENT
                    - ACTIVITY
      tags:
        - Connect
    parameters: []
  /v1/links:
    post:
      summary: Create a connection link
      operationId: v1ConnectPostLinks
      responses:
        '201':
          description: Returns the microsite URL along with an invite ID
          headers:
            request-id:
              $ref: '#/components/headers/request_id'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateLinkResponse'
              examples:
                Example:
                  value:
                    created_at: '2020-03-27T12:56:34.534978'
                    microsite_url: 'http://example.com'
                    invite_id: 7218104b-c64c-4f30-a184-1a1802b5c56b
                    external_id: string
      description: Creates the microsite link to initiate account linking.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateLinkRequest'
            examples:
              Example:
                value:
                  name: string
                  external_id: string
      tags:
        - Connect
    parameters: []
  '/v1/accounts/{id}':
    parameters:
      - schema:
          type: string
        name: id
        in: path
        description: Unique identifier for the account.
        required: true
    get:
      summary: Retrieve an account
      responses:
        '200':
          description: Returns Account object.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Account'
              examples:
                Example:
                  value:
                    id: f5e89cea-18b6-4479-a4dd-64a48217e759
                    created_at: '2021-12-13T07:54:41.078254'
                    updated_at: '2021-12-13T07:54:41.078254'
                    user:
                      id: ac0d5da5-f8c1-4139-8945-825986da9c1e
                      name: Chris Evans
                    work_platform:
                      id: 9bb8913b-ddd9-430b-a66a-d74d846e6c66
                      name: Instagram
                      logo_url: 'https://cdn.insightiq.ai/platforms_logo/logos/logo_instagram.png'
                    platform_username: chris.evans@gmail.com
                    profile_pic_url: null
                    status: CONNECTED
                    platform_profile_name: chrisevans
                    platform_profile_id: '192342567'
                    platform_profile_published_at: null
                    data:
                      identity:
                        status: SYNCED
                        last_sync_at: '2020-01-02T00:00:00.000000'
                        monitoring_type: STANDARD
                      engagement:
                        status: SYNCED
                        last_sync_at: '2020-01-02T00:00:00.000000'
                        refresh_since: null
                        data_available_from: null
                        monitoring_type: STANDARD
                        audience:
                          status: SYNCED
                          last_sync_at: '2020-01-02T00:00:00.000000'
                          refresh_since: null
                          data_available_from: null
                          monitoring_type: STANDARD
          headers:
            request-id:
              $ref: '#/components/headers/request_id'
      operationId: v1StreamGetAccountsById
      description: |-
        Retrieve the information of the Account with the supplied Account id. An Account represents the user account on the work platform end. A user can connect multiple account in the same or across multiple work platforms.

        Usually used in conjunction with the "ACCOUNTS.*" webhooks, [read more](../../../API/webhook-events#accounts).
      tags:
        - Connect
  /v1/accounts:
    parameters: []
    get:
      summary: Retrieve all accounts
      operationId: v1StreamGetAccounts
      responses:
        '200':
          description: Returns all Account objects.
          headers:
            request-id:
              $ref: '#/components/headers/request_id'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountList'
              examples:
                Example:
                  value:
                    data:
                      - id: 9b8cf321-1334-486e-873e-82d9de692abd
                        created_at: '2022-01-06T08:35:23.340738'
                        updated_at: '2022-03-29T13:41:59.357322'
                        user:
                          id: a162c7e0-bc81-4142-8945-3d6a715d0f51
                          name: LedAU1GL
                        work_platform:
                          id: 9bb8913b-ddd9-430b-a66a-d74d846e6c66
                          name: Instagram
                          logo_url: 'https://cdn.insightiq.ai/platforms_logo/logos/logo_instagram.png'
                        platform_username: Adf
                        profile_pic_url: null
                        status: NOT_CONNECTED
                        platform_profile_name: null
                        platform_profile_id: null
                        platform_profile_published_at: null
                        data:
                          identity:
                            status: SYNCED
                            last_sync_at: '2020-01-02T00:00:00.000000'
                            monitoring_type: STANDARD
                          engagement:
                            status: SYNCED
                            last_sync_at: '2020-01-02T00:00:00.000000'
                            refresh_since: null
                            data_available_from: null
                            monitoring_type: STANDARD
                      - id: 81c71d15-dcaf-46e1-ab96-a73aea12bcfd
                        created_at: '2022-01-03T10:08:20.936493'
                        updated_at: '2022-01-03T10:08:20.936493'
                        user:
                          id: 9c03319a-ddde-443c-8439-b8f380e9a365
                          name: 5zS70mBZ
                        work_platform:
                          id: 14d9ddf5-51c6-415e-bde6-f8ed36ad7054
                          name: YouTube
                          logo_url: 'https://cdn.insightiq.ai/platforms_logo/logos/logo_youtube.png'
                        platform_username: Sadsdfasf
                        profile_pic_url: null
                        status: CONNECTED
                        platform_profile_name: null
                        platform_profile_id: null
                        platform_profile_published_at: null
                        data:
                          identity:
                            status: SYNCED
                            last_sync_at: '2020-01-02T00:00:00.000000'
                            monitoring_type: STANDARD
                          engagement:
                            status: SYNCED
                            last_sync_at: '2020-01-02T00:00:00.000000'
                            refresh_since: null
                            data_available_from: null
                            monitoring_type: STANDARD
                          income:
                            status: SYNCED
                            last_sync_at: '2020-01-02T00:00:00.000000'
                            monitoring_type: STANDARD
                      - id: 89294fb7-307a-417f-8aec-83e3a22ead58
                        created_at: '2021-12-28T14:00:08.671900'
                        updated_at: '2021-12-28T14:02:11.631364'
                        user:
                          id: b1eacf57-f6b9-478c-a352-fe94974f8691
                          name: DigiQT
                        work_platform:
                          id: 14d9ddf5-51c6-415e-bde6-f8ed36ad7054
                          name: YouTube
                          logo_url: 'https://cdn.insightiq.ai/platforms_logo/logos/logo_youtube.png'
                        platform_username: '123'
                        profile_pic_url: null
                        status: NOT_CONNECTED
                        platform_profile_name: null
                        platform_profile_id: null
                        platform_profile_published_at: null
                        data:
                          identity:
                            status: SYNCED
                            last_sync_at: '2020-01-02T00:00:00.000000'
                            monitoring_type: STANDARD
                          engagement:
                            status: SYNCED
                            last_sync_at: '2020-01-02T00:00:00.000000'
                            refresh_since: null
                            data_available_from: null
                            monitoring_type: STANDARD
                      - id: f2c85637-8d3a-4b00-80ef-dfe8dc736832
                        created_at: '2021-12-28T14:01:24.176471'
                        updated_at: '2021-12-28T14:01:24.176471'
                        user:
                          id: b1eacf57-f6b9-478c-a352-fe94974f8691
                          name: DigiQT
                        work_platform:
                          id: ad2fec62-2987-40a0-89fb-23485972598c
                          name: Facebook
                          logo_url: 'https://cdn.insightiq.ai/platforms_logo/logos/logo_facebook.png'
                        platform_username: '1234'
                        profile_pic_url: null
                        status: CONNECTED
                        platform_profile_name: null
                        platform_profile_id: null
                        platform_profile_published_at: null
                        data:
                          identity:
                            status: SYNCED
                            last_sync_at: '2020-01-02T00:00:00.000000'
                            monitoring_type: STANDARD
                          engagement:
                            status: SYNCED
                            last_sync_at: '2020-01-02T00:00:00.000000'
                            refresh_since: null
                            data_available_from: null
                            monitoring_type: STANDARD
                      - id: 8ee6474b-f255-443c-99da-c7cb2bfa84be
                        created_at: '2021-12-28T13:59:36.732127'
                        updated_at: '2021-12-28T13:59:36.732127'
                        user:
                          id: e85f084d-64c7-4271-9b42-ecef8e397b99
                          name: DigiQT
                        work_platform:
                          id: 14d9ddf5-51c6-415e-bde6-f8ed36ad7054
                          name: YouTube
                          logo_url: 'https://cdn.insightiq.ai/platforms_logo/logos/logo_youtube.png'
                        platform_username: '123'
                        profile_pic_url: null
                        status: CONNECTED
                        platform_profile_name: null
                        platform_profile_id: null
                        platform_profile_published_at: null
                        data:
                          identity:
                            status: SYNCED
                            last_sync_at: '2020-01-02T00:00:00.000000'
                            monitoring_type: STANDARD
                          engagement:
                            status: SYNCED
                            last_sync_at: '2020-01-02T00:00:00.000000'
                            refresh_since: null
                            data_available_from: null
                            monitoring_type: STANDARD
                      - id: 1a3af1aa-e15f-4920-9507-c847f9878e19
                        created_at: '2021-12-14T05:48:44.119208'
                        updated_at: '2021-12-14T05:48:44.119208'
                        user:
                          id: b20ac291-2a1b-49bc-b27a-fdc2d0e789d4
                          name: h51u3qsm
                        work_platform:
                          id: 9bb8913b-ddd9-430b-a66a-d74d846e6c66
                          name: Instagram
                          logo_url: 'https://cdn.insightiq.ai/platforms_logo/logos/logo_instagram.png'
                        platform_username: Sda
                        profile_pic_url: null
                        status: CONNECTED
                        platform_profile_name: null
                        platform_profile_id: null
                        platform_profile_published_at: null
                        data:
                          identity:
                            status: SYNCED
                            last_sync_at: '2020-01-02T00:00:00.000000'
                            monitoring_type: STANDARD
                          engagement:
                            status: SYNCED
                            last_sync_at: '2020-01-02T00:00:00.000000'
                            refresh_since: null
                            data_available_from: null
                            monitoring_type: STANDARD
                      - id: b444a9b7-905a-4f35-b7ce-950d32f6355a
                        created_at: '2021-12-14T05:45:31.414744'
                        updated_at: '2021-12-14T05:45:31.414744'
                        user:
                          id: 63ea679d-b421-4de6-91db-94ea4bd78816
                          name: Kgga4vQX
                        work_platform:
                          id: 9bb8913b-ddd9-430b-a66a-d74d846e6c66
                          name: Instagram
                          logo_url: 'https://cdn.insightiq.ai/platforms_logo/logos/logo_instagram.png'
                        platform_username: Asf
                        profile_pic_url: null
                        status: CONNECTED
                        platform_profile_name: null
                        platform_profile_id: null
                        platform_profile_published_at: null
                        data:
                          identity:
                            status: SYNCED
                            last_sync_at: '2020-01-02T00:00:00.000000'
                            monitoring_type: STANDARD
                          engagement:
                            status: SYNCED
                            last_sync_at: '2020-01-02T00:00:00.000000'
                            refresh_since: null
                            data_available_from: null
                            monitoring_type: STANDARD
                      - id: 7c4f814c-b7ba-4e34-9ce8-3a3bd334883f
                        created_at: '2021-12-14T05:44:11.597584'
                        updated_at: '2021-12-14T05:45:10.952968'
                        user:
                          id: 63ea679d-b421-4de6-91db-94ea4bd78816
                          name: Kgga4vQX
                        work_platform:
                          id: 9bb8913b-ddd9-430b-a66a-d74d846e6c66
                          name: Instagram
                          logo_url: 'https://cdn.insightiq.ai/platforms_logo/logos/logo_instagram.png'
                        platform_username: Hello
                        profile_pic_url: null
                        status: NOT_CONNECTED
                        platform_profile_name: null
                        platform_profile_id: null
                        platform_profile_published_at: null
                        data:
                          identity:
                            status: SYNCED
                            last_sync_at: '2020-01-02T00:00:00.000000'
                            monitoring_type: STANDARD
                          engagement:
                            status: SYNCED
                            last_sync_at: '2020-01-02T00:00:00.000000'
                            refresh_since: null
                            data_available_from: null
                            monitoring_type: STANDARD
                      - id: ce22d588-99b1-4582-9e14-d2dc638b3b26
                        created_at: '2021-12-14T05:44:37.414600'
                        updated_at: '2021-12-14T05:44:37.414600'
                        user:
                          id: 63ea679d-b421-4de6-91db-94ea4bd78816
                          name: Kgga4vQX
                        work_platform:
                          id: 9bb8913b-ddd9-430b-a66a-d74d846e6c66
                          name: Instagram
                          logo_url: 'https://cdn.insightiq.ai/platforms_logo/logos/logo_instagram.png'
                        platform_username: Asghdfha
                        profile_pic_url: null
                        status: CONNECTED
                        platform_profile_name: null
                        platform_profile_id: null
                        platform_profile_published_at: null
                        data:
                          identity:
                            status: SYNCED
                            last_sync_at: '2020-01-02T00:00:00.000000'
                            monitoring_type: STANDARD
                          engagement:
                            status: SYNCED
                            last_sync_at: '2020-01-02T00:00:00.000000'
                            refresh_since: null
                            data_available_from: null
                            monitoring_type: STANDARD
                      - id: 11cb31f6-0d56-4eb4-b4d0-63794f8242fc
                        created_at: '2021-12-13T14:16:09.083338'
                        updated_at: '2021-12-13T14:16:09.083338'
                        user:
                          id: 4532e289-6301-4cdf-af6b-aef83ab01315
                          name: LztHEgLI
                        work_platform:
                          id: 7645460a-96e0-4192-a3ce-a1fc30641f72
                          name: Twitter
                          logo_url: 'https://cdn.insightiq.ai/platforms_logo/logos/logo_twitter.png'
                        platform_username: Dsfda
                        profile_pic_url: null
                        status: CONNECTED
                        platform_profile_name: null
                        platform_profile_id: null
                        platform_profile_published_at: null
                        data:
                          identity:
                            status: SYNCED
                            last_sync_at: '2020-01-02T00:00:00.000000'
                            monitoring_type: STANDARD
                          engagement:
                            status: SYNCED
                            last_sync_at: '2020-01-02T00:00:00.000000'
                            refresh_since: null
                            data_available_from: null
                            monitoring_type: STANDARD
                      - id: e0852c98-0c7f-4498-8626-2bda43cd0667
                        created_at: '2021-12-13T14:15:52.494149'
                        updated_at: '2021-12-13T14:15:52.494149'
                        user:
                          id: 4532e289-6301-4cdf-af6b-aef83ab01315
                          name: LztHEgLI
                        work_platform:
                          id: 7645460a-96e0-4192-a3ce-a1fc30641f72
                          name: Twitter
                          logo_url: 'https://cdn.insightiq.ai/platforms_logo/logos/logo_twitter.png'
                        platform_username: Hello
                        profile_pic_url: null
                        status: CONNECTED
                        platform_profile_name: null
                        platform_profile_id: null
                        platform_profile_published_at: null
                        data:
                          identity:
                            status: SYNCED
                            last_sync_at: '2020-01-02T00:00:00.000000'
                            monitoring_type: STANDARD
                          engagement:
                            status: SYNCED
                            last_sync_at: '2020-01-02T00:00:00.000000'
                            refresh_since: null
                            data_available_from: null
                            monitoring_type: STANDARD
                      - id: 9ccb74b5-6074-4ec8-b597-830cbb94f103
                        created_at: '2021-12-13T07:54:41.078254'
                        updated_at: '2021-12-13T07:54:41.078254'
                        user:
                          id: c931d928-c17d-49ee-89d0-ab18a825bd9b
                          name: Chad Becker
                        work_platform:
                          id: ad2fec62-2987-40a0-89fb-23485972598c
                          name: Facebook
                          logo_url: 'https://cdn.insightiq.ai/platforms_logo/logos/logo_facebook.png'
                        platform_username: chad.becker@gmail.com
                        profile_pic_url: null
                        status: CONNECTED
                        platform_profile_name: Chad Becker Official
                        platform_profile_id: '7720345617123'
                        platform_profile_published_at: null
                        data:
                          identity:
                            status: SYNCED
                            last_sync_at: '2020-01-02T00:00:00.000000'
                            monitoring_type: STANDARD
                          engagement:
                            status: SYNCED
                            last_sync_at: '2020-01-02T00:00:00.000000'
                            refresh_since: null
                            data_available_from: null
                            monitoring_type: STANDARD
                      - id: 6ad07dba-6925-4515-abb4-f63875ada3b2
                        created_at: '2021-12-13T07:54:41.078254'
                        updated_at: '2021-12-13T07:54:41.078254'
                        user:
                          id: 4d913581-99f2-41a8-9309-9b008511c211
                          name: Julia Luis
                        work_platform:
                          id: ad2fec62-2987-40a0-89fb-23485972598c
                          name: Facebook
                          logo_url: 'https://cdn.insightiq.ai/platforms_logo/logos/logo_facebook.png'
                        platform_username: julia.luis@gmail.com
                        profile_pic_url: null
                        status: CONNECTED
                        platform_profile_name: Veep Official
                        platform_profile_id: '7720345617125'
                        platform_profile_published_at: '2020-01-01T00:00:00'
                        data:
                          identity:
                            status: SYNCED
                            last_sync_at: '2020-01-02T00:00:00.000000'
                            monitoring_type: STANDARD
                          engagement:
                            status: SYNCED
                            last_sync_at: '2020-01-02T00:00:00.000000'
                            refresh_since: null
                            data_available_from: null
                            monitoring_type: STANDARD
                      - id: a3970259-6740-4131-9058-2f5a4c0d17fa
                        created_at: '2021-12-13T07:54:41.078254'
                        updated_at: '2021-12-13T07:54:41.078254'
                        user:
                          id: 3b38559b-892f-475d-b4df-7248ef1fd405
                          name: Jonah Hill
                        work_platform:
                          id: 7645460a-96e0-4192-a3ce-a1fc30641f72
                          name: Twitter
                          logo_url: 'https://cdn.insightiq.ai/platforms_logo/logos/logo_twitter.png'
                        platform_username: jonah.hill@gmail.com
                        profile_pic_url: null
                        status: CONNECTED
                        platform_profile_name: realJonah
                        platform_profile_id: '2725104190'
                        platform_profile_published_at: null
                        data:
                          identity:
                            status: SYNCED
                            last_sync_at: '2020-01-02T00:00:00.000000'
                            monitoring_type: STANDARD
                          engagement:
                            status: SYNCED
                            last_sync_at: '2020-01-02T00:00:00.000000'
                            refresh_since: null
                            data_available_from: null
                            monitoring_type: STANDARD
                      - id: 3839334f-6c01-4ad3-8ff1-68e106148702
                        created_at: '2021-12-13T07:54:41.078254'
                        updated_at: '2021-12-13T07:54:41.078254'
                        user:
                          id: 8ba1ac32-0f3c-4cf0-8d89-79a183258f6a
                          name: Peter Parker
                        work_platform:
                          id: 7645460a-96e0-4192-a3ce-a1fc30641f72
                          name: Twitter
                          logo_url: 'https://cdn.insightiq.ai/platforms_logo/logos/logo_twitter.png'
                        platform_username: peter.parker@gmail.com
                        profile_pic_url: null
                        status: CONNECTED
                        platform_profile_name: peterparker
                        platform_profile_id: '2725104191'
                        platform_profile_published_at: null
                        data:
                          identity:
                            status: SYNCED
                            last_sync_at: '2020-01-02T00:00:00.000000'
                            monitoring_type: STANDARD
                          engagement:
                            status: SYNCED
                            last_sync_at: '2020-01-02T00:00:00.000000'
                            refresh_since: null
                            data_available_from: null
                            monitoring_type: STANDARD
                      - id: f5e89cea-18b6-4479-a4dd-64a48217e759
                        created_at: '2021-12-13T07:54:41.078254'
                        updated_at: '2021-12-13T07:54:41.078254'
                        user:
                          id: ac0d5da5-f8c1-4139-8945-825986da9c1e
                          name: Chris Evans
                        work_platform:
                          id: 9bb8913b-ddd9-430b-a66a-d74d846e6c66
                          name: Instagram
                          logo_url: 'https://cdn.insightiq.ai/platforms_logo/logos/logo_instagram.png'
                        platform_username: chris.evans@gmail.com
                        profile_pic_url: null
                        status: CONNECTED
                        platform_profile_name: chrisevans
                        platform_profile_id: '192342567'
                        platform_profile_published_at: null
                        data:
                          identity:
                            status: SYNCED
                            last_sync_at: '2020-01-02T00:00:00.000000'
                            monitoring_type: STANDARD
                          engagement:
                            status: SYNCED
                            last_sync_at: '2020-01-02T00:00:00.000000'
                            refresh_since: null
                            data_available_from: null
                            monitoring_type: STANDARD
                            audience:
                              status: SYNCED
                              last_sync_at: '2020-01-02T00:00:00.000000'
                              refresh_since: null
                              data_available_from: null
                              monitoring_type: STANDARD
                      - id: 44554e73-5879-4764-a37c-fa3a47e25c2a
                        created_at: '2021-12-13T07:54:41.078254'
                        updated_at: '2021-12-13T07:54:41.078254'
                        user:
                          id: 28722faa-5356-483d-a57b-384fa01859dd
                          name: Robert Downey
                        work_platform:
                          id: 9bb8913b-ddd9-430b-a66a-d74d846e6c66
                          name: Instagram
                          logo_url: 'https://cdn.insightiq.ai/platforms_logo/logos/logo_instagram.png'
                        platform_username: robert.downey@gmail.com
                        profile_pic_url: null
                        status: CONNECTED
                        platform_profile_name: robertdowney
                        platform_profile_id: '192342568'
                        platform_profile_published_at: null
                        data:
                          identity:
                            status: SYNCED
                            last_sync_at: '2020-01-02T00:00:00.000000'
                            monitoring_type: STANDARD
                          engagement:
                            status: SYNCED
                            last_sync_at: '2020-01-02T00:00:00.000000'
                            refresh_since: null
                            data_available_from: null
                            monitoring_type: STANDARD
                            audience:
                              status: SYNCED
                              last_sync_at: '2020-01-02T00:00:00.000000'
                              refresh_since: null
                              data_available_from: null
                              monitoring_type: STANDARD
                      - id: 1639b5c5-facb-4555-8e55-3433cafe0c6b
                        created_at: '2021-12-13T07:54:41.078254'
                        updated_at: '2021-12-13T07:54:41.078254'
                        user:
                          id: b0562ead-6282-404f-9e63-9da7bc0f838f
                          name: Mark Ruffalo
                        work_platform:
                          id: 14d9ddf5-51c6-415e-bde6-f8ed36ad7054
                          name: YouTube
                          logo_url: 'https://cdn.insightiq.ai/platforms_logo/logos/logo_youtube.png'
                        platform_username: mark.ruffalo@gmail.com
                        profile_pic_url: null
                        status: CONNECTED
                        platform_profile_name: CBSE WINNERS
                        platform_profile_id: UCEyLTzBtHJhlUwkeWhxfMXw
                        platform_profile_published_at: '2020-01-01T00:00:00'
                        data:
                          engagement:
                            status: SYNCED
                            last_sync_at: '2020-01-02T00:00:00.000000'
                            refresh_since: null
                            data_available_from: null
                            monitoring_type: STANDARD
                            audience:
                              status: SYNCED
                              last_sync_at: '2020-01-02T00:00:00.000000'
                              refresh_since: null
                              data_available_from: null
                              monitoring_type: STANDARD
                          income:
                            status: SYNCED
                            last_sync_at: '2020-01-02T00:00:00.000000'
                            monitoring_type: STANDARD
                          identity:
                            status: SYNCED
                            last_sync_at: '2020-01-02T00:00:00.000000'
                            monitoring_type: STANDARD
                      - id: b09dbb96-85e2-44fd-87db-4b891b60745a
                        created_at: '2021-12-13T07:54:41.078254'
                        updated_at: '2021-12-13T07:54:41.078254'
                        user:
                          id: 79be6897-e0f4-43d2-8df3-4af15b2862f0
                          name: Sam Curran
                        work_platform:
                          id: 14d9ddf5-51c6-415e-bde6-f8ed36ad7054
                          name: YouTube
                          logo_url: 'https://cdn.insightiq.ai/platforms_logo/logos/logo_youtube.png'
                        platform_username: sam.curran@gmail.com
                        profile_pic_url: '2020-01-01'
                        status: CONNECTED
                        platform_profile_name: samECB
                        platform_profile_id: '2755104190'
                        platform_profile_published_at: null
                        data:
                          identity:
                            status: SYNCED
                            last_sync_at: '2020-01-02T00:00:00.000000'
                            monitoring_type: STANDARD
                          engagement:
                            status: SYNCED
                            last_sync_at: '2020-01-02T00:00:00.000000'
                            refresh_since: null
                            data_available_from: null
                            monitoring_type: STANDARD
                            audience:
                              status: SYNCED
                              last_sync_at: '2020-01-02T00:00:00.000000'
                              refresh_since: null
                              data_available_from: null
                              monitoring_type: STANDARD
                      - id: e42ad363-6e49-4b69-9078-41f8820284e0
                        created_at: '2021-12-13T07:54:41.078254'
                        updated_at: '2021-12-13T07:54:41.078254'
                        user:
                          id: c9342ccd-14ec-4fb1-b6c1-8dfc5df7c518
                          name: Jerry Seinfeld
                        work_platform:
                          id: de55aeec-0dc8-4119-bf90-16b3d1f0c987
                          name: TikTok
                          logo_url: 'https://cdn.insightiq.ai/platforms_logo/logos/logo_tiktok.png'
                        platform_username: jerry.seinfeld@gmail.com
                        profile_pic_url: null
                        status: CONNECTED
                        platform_profile_name: jerryWho
                        platform_profile_id: '126789012'
                        platform_profile_published_at: null
                        data:
                          identity:
                            status: SYNCED
                            last_sync_at: '2020-01-02T00:00:00.000000'
                            monitoring_type: STANDARD
                          engagement:
                            status: SYNCED
                            last_sync_at: '2020-01-02T00:00:00.000000'
                            refresh_since: null
                            data_available_from: null
                            monitoring_type: STANDARD
                      - id: 1fbac095-5343-4367-80b3-247f4c449ad4
                        created_at: '2021-12-13T07:54:41.078254'
                        updated_at: '2021-12-13T07:54:41.078254'
                        user:
                          id: c21c3a73-ade9-435b-8033-53d3e0549366
                          name: Lisa Kudrow
                        work_platform:
                          id: de55aeec-0dc8-4119-bf90-16b3d1f0c987
                          name: TikTok
                          logo_url: 'https://cdn.insightiq.ai/platforms_logo/logos/logo_tiktok.png'
                        platform_username: lisa.kudrow@gmail.com
                        profile_pic_url: null
                        status: CONNECTED
                        platform_profile_name: smellyCat
                        platform_profile_id: '126789011'
                        platform_profile_published_at: '2020-01-01T00:00:00'
                        data:
                          identity:
                            status: SYNCED
                            last_sync_at: '2020-01-02T00:00:00.000000'
                            monitoring_type: STANDARD
                          engagement:
                            status: SYNCED
                            last_sync_at: '2020-01-02T00:00:00.000000'
                            refresh_since: null
                            data_available_from: null
                            monitoring_type: STANDARD
                      - id: 35bbe1ed-4775-4054-a979-64d319e49a2a
                        created_at: '2021-12-13T07:54:41.078254'
                        updated_at: '2021-12-13T07:54:41.078254'
                        user:
                          id: bc200267-631f-42e2-b0d9-aae786ff85de
                          name: Justin Gatlin
                        work_platform:
                          id: e4de6c01-5b78-4fc0-a651-24f44134457b
                          name: Twitch
                          logo_url: 'https://cdn.insightiq.ai/platforms_logo/logos/logo_twitch.png'
                        platform_username: justin.gatlin@gmail.com
                        profile_pic_url: null
                        status: CONNECTED
                        platform_profile_name: justinGames
                        platform_profile_id: 126789011xyz
                        platform_profile_published_at: null
                        data:
                          identity:
                            status: SYNCED
                            last_sync_at: '2020-01-02T00:00:00.000000'
                            monitoring_type: STANDARD
                          engagement:
                            status: SYNCED
                            last_sync_at: '2020-01-02T00:00:00.000000'
                            refresh_since: null
                            data_available_from: null
                            monitoring_type: STANDARD
                      - id: afed96b3-be19-4383-aade-9ed4896a04e8
                        created_at: '2021-12-13T07:54:41.078254'
                        updated_at: '2021-12-13T07:54:41.078254'
                        user:
                          id: dbada397-ed37-48e5-98bf-018808a186d9
                          name: Simu Liu
                        work_platform:
                          id: e4de6c01-5b78-4fc0-a651-24f44134457b
                          name: Twitch
                          logo_url: 'https://cdn.insightiq.ai/platforms_logo/logos/logo_twitch.png'
                        platform_username: simu.liu@gmail.com
                        profile_pic_url: null
                        status: CONNECTED
                        platform_profile_name: shangGamer
                        platform_profile_id: 126789011xy234
                        platform_profile_published_at: null
                        data:
                          identity:
                            status: SYNCED
                            last_sync_at: '2020-01-02T00:00:00.000000'
                            monitoring_type: STANDARD
                          engagement:
                            status: SYNCED
                            last_sync_at: '2020-01-02T00:00:00.000000'
                            refresh_since: null
                            data_available_from: null
                            monitoring_type: STANDARD
                    metadata:
                      offset: 0
                      limit: 100
                      from_date: null
                      to_date: null
      description: Lists all Accounts. An Account represents the user account on the work platform end. A user can connect multiple account in the same or across multiple work platforms.
      parameters:
        - $ref: '#/components/parameters/offset'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/work_platform_id'
        - $ref: '#/components/parameters/user_id'
      tags:
        - Connect
  '/v1/accounts/{id}/disconnect':
    parameters:
      - schema:
          type: string
        name: id
        in: path
        description: Unique identifier for the account.
        required: true
    post:
      summary: Disconnect an account
      operationId: v1DisconnectAccountById
      responses:
        '200':
          description: Returns summary of the deleted account object.
          headers:
            request-id:
              $ref: '#/components/headers/request_id'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DisconnectAccountResponse'
              examples:
                Example:
                  value:
                    id: f5e89cea-18b6-4479-a4dd-64a48217e759
                    created_at: '2021-12-13T07:54:41.078254'
                    updated_at: '2022-03-29T17:47:45.428046'
                    user:
                      id: ac0d5da5-f8c1-4139-8945-825986da9c1e
                      name: Chris Evans
                    work_platform:
                      id: 9bb8913b-ddd9-430b-a66a-d74d846e6c66
                      name: Instagram
                      logo_url: 'https://cdn.insightiq.ai/platforms_logo/logos/logo_instagram.png'
                    status: NOT_CONNECTED
      description: |-
        Disconnect the supplied account id. An Account represents the user account on the work platform end.

        Triggers the "ACCOUNTS.DISCONNECTED" webhook, [read more](../../../API/webhook-events#accounts).
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
        description: Empty JSON
      tags:
        - Connect
  '/v1/profiles/{id}':
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
        description: Unique identifier for the profile.
    get:
      summary: Retrieve a profile
      tags:
        - Identity
      responses:
        '200':
          description: Returns Profile object.
          headers:
            request-id:
              $ref: '#/components/headers/request_id'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Profile'
              examples:
                Instagram:
                  value:
                    id: 9bd39495-ad21-40f7-a8a6-9c8cf9d6a822
                    created_at: '2021-11-08T18:53:18.337805'
                    updated_at: '2021-11-08T18:53:18.337805'
                    user:
                      id: 28722faa-5356-483d-a57b-384fa01859dd
                      name: Robert Downey
                    account:
                      id: 44554e73-5879-4764-a37c-fa3a47e25c2a
                      platform_username: robert.downey@gmail.com
                    work_platform:
                      id: 9bb8913b-ddd9-430b-a66a-d74d846e6c66
                      name: Instagram
                      logo_url: 'https://cdn.insightiq.ai/platforms_logo/logos/logo_instagram.png'
                    platform_username: robertdowney
                    full_name: Robert Downey
                    first_name: null
                    last_name: null
                    nick_name: null
                    url: 'https://www.instagram.com/robertdowney/'
                    introduction: null
                    image_url: 'https://www.instagram.com/p/CII66H6h2HX/'
                    date_of_birth: null
                    external_id: robertdowney
                    platform_account_type: null
                    category: null
                    website: null
                    reputation:
                      follower_count: 78976
                      following_count: 567
                      subscriber_count: null
                      content_count: null
                      content_group_count: null
                      watch_time_in_hours: null
                    emails: []
                    phone_numbers: []
                    addresses: []
                    gender: MALE
                    country: US
                    platform_profile_name: null
                    platform_profile_id: null
                    platform_profile_published_at: null
                    is_verified: true
                    is_business: true
                YouTube:
                  value:
                    id: 3640aa41-55d3-4198-9092-ef9ced03d7fb
                    created_at: '2021-11-08T18:53:18.337805'
                    updated_at: '2021-11-08T18:53:18.337805'
                    user:
                      id: b0562ead-6282-404f-9e63-9da7bc0f838f
                      name: Mark Ruffalo
                    account:
                      id: 1639b5c5-facb-4555-8e55-3433cafe0c6b
                      platform_username: mark.ruffalo@gmail.com
                    work_platform:
                      id: 14d9ddf5-51c6-415e-bde6-f8ed36ad7054
                      name: YouTube
                      logo_url: 'https://cdn.insightiq.ai/platforms_logo/logos/logo_youtube.png'
                    platform_username: markruffalo
                    full_name: Mark Ruffalo
                    first_name: Mark
                    last_name: Ruffalo
                    nick_name: markruffalo
                    url: 'https://www.youtube.com/c/markruffalo/about'
                    introduction: null
                    image_url: 'https://yt3.ggpht.com/ytc/AAUvwngyIhZUrX85za9RIXCzYNiFzaAoBFuP_ZKBWlVN=s176-c-k-c0x00ffffff-no-rj'
                    date_of_birth: '1989-11-26'
                    external_id: markruffalo
                    platform_account_type: null
                    category: null
                    website: null
                    reputation:
                      follower_count: null
                      following_count: null
                      subscriber_count: 12345
                      content_count: null
                      content_group_count: null
                      watch_time_in_hours: null
                    emails:
                      - type: WORK
                        email_id: mark.ruffalo@gmail.com
                    phone_numbers:
                      - type: WORK
                        phone_number: '+1987654321'
                    addresses:
                      - type: WORK
                        address: '122 Alpine Avenue, Sunnyvale, CA, USA'
                    gender: MALE
                    country: US
                    platform_profile_name: CBSE WINNERS
                    platform_profile_id: UCEyLTzBtHJhlUwkeWhxfMXw
                    platform_profile_published_at: '2020-01-01T00:00:00'
                    is_verified: false
                    is_business: false
                Twitter:
                  value:
                    id: 9dd695b0-03e1-47fe-b368-a366d5c3b0f1
                    created_at: '2021-11-08T18:53:18.337805'
                    updated_at: '2021-11-08T18:53:18.337805'
                    user:
                      id: 8ba1ac32-0f3c-4cf0-8d89-79a183258f6a
                      name: Peter Parker
                    account:
                      id: 3839334f-6c01-4ad3-8ff1-68e106148702
                      platform_username: peter.parker@gmail.com
                    work_platform:
                      id: 7645460a-96e0-4192-a3ce-a1fc30641f72
                      name: Twitter
                      logo_url: 'https://cdn.insightiq.ai/platforms_logo/logos/logo_twitter.png'
                    platform_username: peterparker
                    full_name: Peter Parker
                    first_name: null
                    last_name: null
                    nick_name: null
                    url: 'https://twitter.com/peterparker'
                    introduction: null
                    image_url: 'https://twitter.com/peterparker/photo'
                    date_of_birth: '1989-11-26'
                    external_id: peterparker
                    platform_account_type: null
                    category: null
                    website: null
                    reputation:
                      follower_count: 78976
                      following_count: 567
                      subscriber_count: null
                      content_count: null
                      content_group_count: null
                      watch_time_in_hours: null
                    emails: []
                    phone_numbers: []
                    addresses:
                      - type: WORK
                        address: '122 Alpine Avenue, Sunnyvale, CA, USA'
                    gender: null
                    country: US
                    platform_profile_name: null
                    platform_profile_id: null
                    platform_profile_published_at: '2016-01-01T00:00:00'
                    is_verified: false
                    is_business: false
                TikTok:
                  value:
                    id: 74b3c232-2a70-429d-96d7-b4663045b474
                    created_at: '2021-11-08T18:53:18.337805'
                    updated_at: '2021-11-08T18:53:18.337805'
                    user:
                      id: c9342ccd-14ec-4fb1-b6c1-8dfc5df7c518
                      name: Jerry Seinfeld
                    account:
                      id: e42ad363-6e49-4b69-9078-41f8820284e0
                      platform_username: jerry.seinfeld@gmail.com
                    work_platform:
                      id: de55aeec-0dc8-4119-bf90-16b3d1f0c987
                      name: TikTok
                      logo_url: 'https://cdn.insightiq.ai/platforms_logo/logos/logo_tiktok.png'
                    platform_username: jerryWho
                    full_name: null
                    first_name: null
                    last_name: null
                    nick_name: null
                    url: 'https://www.tiktok.com/jerryWho/'
                    introduction: null
                    image_url: 'https://www.tiktok.com/p/CII66H6h2HX/'
                    date_of_birth: null
                    external_id: '126789012'
                    platform_account_type: null
                    category: null
                    website: null
                    reputation:
                      follower_count: 25000
                      following_count: 500
                      subscriber_count: null
                      content_count: null
                      content_group_count: null
                      watch_time_in_hours: null
                    emails: []
                    phone_numbers: []
                    addresses: []
                    gender: null
                    country: null
                    platform_profile_name: jerryWho
                    platform_profile_id: '126789012'
                    platform_profile_published_at: null
                    is_verified: false
                    is_business: false
                Twitch:
                  value:
                    id: 135ea13d-5d32-43b0-a3d7-11e186cc58b7
                    created_at: '2021-11-08T18:53:18.337805'
                    updated_at: '2021-11-08T18:53:18.337805'
                    user:
                      id: bc200267-631f-42e2-b0d9-aae786ff85de
                      name: Justin Gatlin
                    account:
                      id: 35bbe1ed-4775-4054-a979-64d319e49a2a
                      platform_username: justin.gatlin@gmail.com
                    work_platform:
                      id: e4de6c01-5b78-4fc0-a651-24f44134457b
                      name: Twitch
                      logo_url: 'https://cdn.insightiq.ai/platforms_logo/logos/logo_twitch.png'
                    platform_username: justinGames
                    full_name: Justin Gatlin
                    first_name: null
                    last_name: null
                    nick_name: null
                    url: 'https://twitch.tv/justinGames'
                    introduction: null
                    image_url: 'https://twitch.tv/justinGames/photo'
                    date_of_birth: null
                    external_id: 126789011xyz
                    platform_account_type: null
                    category: null
                    website: null
                    reputation:
                      follower_count: 55000
                      following_count: 55
                      subscriber_count: null
                      content_count: null
                      content_group_count: null
                      watch_time_in_hours: null
                    emails:
                      - type: WORK
                        email_id: justin.gatlin@gmail.com
                    phone_numbers: []
                    addresses: []
                    gender: null
                    country: null
                    platform_profile_name: justinGames
                    platform_profile_id: 126789011xyz
                    platform_profile_published_at: '2018-01-01T00:00:00'
                    is_verified: false
                    is_business: false
                Facebook:
                  value:
                    id: d11d254b-4258-4d69-b5f8-c92ba4faf971
                    created_at: '2021-11-08T18:53:18.337805'
                    updated_at: '2021-11-08T18:53:18.337805'
                    user:
                      id: c931d928-c17d-49ee-89d0-ab18a825bd9b
                      name: Chad Becker
                    account:
                      id: 9ccb74b5-6074-4ec8-b597-830cbb94f103
                      platform_username: chad.becker@gmail.com
                    work_platform:
                      id: ad2fec62-2987-40a0-89fb-23485972598c
                      name: Facebook
                      logo_url: 'https://cdn.insightiq.ai/platforms_logo/logos/logo_facebook.png'
                    platform_username: chadbecker
                    full_name: Chad Becker
                    first_name: Chad
                    last_name: Becker
                    nick_name: null
                    url: 'https://www.facebook.com/124638647630368'
                    introduction: Official page of Chef Chad Becker
                    image_url: 'https://scontent.fblr2-1.fna.fbcdn.net/v/t1.18169-1/cp0/c12.12.156.156a/s50x50/216005_336678339759730_918813456_n.jpg'
                    date_of_birth: '1989-11-26'
                    external_id: '124638647630368'
                    platform_account_type: null
                    category: null
                    website: null
                    reputation:
                      follower_count: 78976
                      following_count: null
                      subscriber_count: null
                      content_count: null
                      content_group_count: null
                      watch_time_in_hours: null
                    emails:
                      - type: WORK
                        email_id: chad.becker@gmail.com
                    phone_numbers: []
                    addresses:
                      - type: WORK
                        address: San Francisco
                    gender: MALE
                    country: US
                    platform_profile_name: Chad Becker Official
                    platform_profile_id: '124638647630368'
                    platform_profile_published_at: '2018-01-01T00:00:00'
                    is_verified: true
                    is_business: true
      operationId: v1StreamGetProfileById
      description: |-
        Retrieve the information of the Profile with the supplied Profile id. Profile object contains information related to the identity of the user like name, address, contact details, etc. The data in a profile is tied to a particular work platform account that the user has connected to via Connect SDK.

        Usually used in conjunction with the "PROFILES.*" webhooks, [read more](../../../API/webhook-events#profiles).
      parameters: []
  /v1/profiles:
    get:
      summary: Retrieve all profiles
      tags:
        - Identity
      responses:
        '200':
          description: Returns all Profiles objects.
          headers:
            request-id:
              $ref: '#/components/headers/request_id'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProfileList'
              examples:
                Example:
                  value:
                    data:
                      - id: 9dd695b0-03e1-47fe-b368-a366d5c3b0f1
                        created_at: '2021-11-08T18:53:18.337805'
                        updated_at: '2021-11-08T18:53:18.337805'
                        user:
                          id: 8ba1ac32-0f3c-4cf0-8d89-79a183258f6a
                          name: Peter Parker
                        account:
                          id: 3839334f-6c01-4ad3-8ff1-68e106148702
                          platform_username: peter.parker@gmail.com
                        work_platform:
                          id: 7645460a-96e0-4192-a3ce-a1fc30641f72
                          name: Twitter
                          logo_url: 'https://cdn.insightiq.ai/platforms_logo/logos/logo_twitter.png'
                        platform_username: peterparker
                        full_name: Peter Parker
                        first_name: null
                        last_name: null
                        nick_name: null
                        url: 'https://twitter.com/peterparker'
                        introduction: null
                        image_url: 'https://twitter.com/peterparker/photo'
                        date_of_birth: '1989-11-26'
                        external_id: peterparker
                        platform_account_type: null
                        category: null
                        website: null
                        reputation:
                          follower_count: 78976
                          following_count: 567
                          subscriber_count: null
                          content_count: null
                          content_group_count: null
                          watch_time_in_hours: null
                        emails: []
                        phone_numbers: []
                        addresses:
                          - type: WORK
                            address: '122 Alpine Avenue, Sunnyvale, CA, USA'
                        gender: null
                        country: US
                        platform_profile_name: null
                        platform_profile_id: null
                        platform_profile_published_at: '2016-01-01T00:00:00'
                        is_verified: false
                        is_business: false
                      - id: 986a12b9-f4df-4dbc-892d-cc4c3490afdf
                        created_at: '2021-11-08T18:53:18.337805'
                        updated_at: '2021-11-08T18:53:18.337805'
                        user:
                          id: 3b38559b-892f-475d-b4df-7248ef1fd405
                          name: Jonah Hill
                        account:
                          id: a3970259-6740-4131-9058-2f5a4c0d17fa
                          platform_username: jonah.hill@gmail.com
                        work_platform:
                          id: 7645460a-96e0-4192-a3ce-a1fc30641f72
                          name: Twitter
                          logo_url: 'https://cdn.insightiq.ai/platforms_logo/logos/logo_twitter.png'
                        platform_username: realJonah
                        full_name: Jonah Hill
                        first_name: null
                        last_name: null
                        nick_name: null
                        url: 'https://twitter.com/realJonah'
                        introduction: They call me Jonah
                        image_url: 'https://twitter.com/realJonah/photo'
                        date_of_birth: null
                        external_id: realJonah
                        platform_account_type: null
                        category: null
                        website: null
                        reputation:
                          follower_count: 78976
                          following_count: 20000
                          subscriber_count: null
                          content_count: null
                          content_group_count: null
                          watch_time_in_hours: null
                        emails: []
                        phone_numbers: []
                        addresses:
                          - type: WORK
                            address: San Francisco
                        gender: null
                        country: San Francisco
                        platform_profile_name: realJonah
                        platform_profile_id: '2725104191'
                        platform_profile_published_at: '2016-01-01T00:00:00'
                        is_verified: true
                        is_business: false
                      - id: 9bd39495-ad21-40f7-a8a6-9c8cf9d6a822
                        created_at: '2021-11-08T18:53:18.337805'
                        updated_at: '2021-11-08T18:53:18.337805'
                        user:
                          id: 28722faa-5356-483d-a57b-384fa01859dd
                          name: Robert Downey
                        account:
                          id: 44554e73-5879-4764-a37c-fa3a47e25c2a
                          platform_username: robert.downey@gmail.com
                        work_platform:
                          id: 9bb8913b-ddd9-430b-a66a-d74d846e6c66
                          name: Instagram
                          logo_url: 'https://cdn.insightiq.ai/platforms_logo/logos/logo_instagram.png'
                        platform_username: robertdowney
                        full_name: Robert Downey
                        first_name: null
                        last_name: null
                        nick_name: null
                        url: 'https://www.instagram.com/robertdowney/'
                        introduction: null
                        image_url: 'https://www.instagram.com/p/CII66H6h2HX/'
                        date_of_birth: null
                        external_id: robertdowney
                        platform_account_type: null
                        category: null
                        website: null
                        reputation:
                          follower_count: 78976
                          following_count: 567
                          subscriber_count: null
                          content_count: null
                          content_group_count: null
                          watch_time_in_hours: null
                        emails: []
                        phone_numbers: []
                        addresses: []
                        gender: MALE
                        country: US
                        platform_profile_name: null
                        platform_profile_id: null
                        platform_profile_published_at: null
                        is_verified: true
                        is_business: true
                      - id: 3640aa41-55d3-4198-9092-ef9ced03d7fb
                        created_at: '2021-11-08T18:53:18.337805'
                        updated_at: '2021-11-08T18:53:18.337805'
                        user:
                          id: b0562ead-6282-404f-9e63-9da7bc0f838f
                          name: Mark Ruffalo
                        account:
                          id: 1639b5c5-facb-4555-8e55-3433cafe0c6b
                          platform_username: mark.ruffalo@gmail.com
                        work_platform:
                          id: 14d9ddf5-51c6-415e-bde6-f8ed36ad7054
                          name: YouTube
                          logo_url: 'https://cdn.insightiq.ai/platforms_logo/logos/logo_youtube.png'
                        platform_username: markruffalo
                        full_name: Mark Ruffalo
                        first_name: Mark
                        last_name: Ruffalo
                        nick_name: markruffalo
                        url: 'https://www.youtube.com/c/markruffalo/about'
                        introduction: null
                        image_url: 'https://yt3.ggpht.com/ytc/AAUvwngyIhZUrX85za9RIXCzYNiFzaAoBFuP_ZKBWlVN=s176-c-k-c0x00ffffff-no-rj'
                        date_of_birth: '1989-11-26'
                        external_id: markruffalo
                        platform_account_type: null
                        category: null
                        website: null
                        reputation:
                          follower_count: null
                          following_count: null
                          subscriber_count: 12345
                          content_count: null
                          content_group_count: null
                          watch_time_in_hours: null
                        emails:
                          - type: WORK
                            email_id: mark.ruffalo@gmail.com
[...]
